.container {
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #header {
} */

#buttons {
    padding: 5px;
}

/* #form {
}  */

#add-makesModels {
    margin-top: 5px;
}

/* #gifs {
} */